.wrapper {
    display: flex;
    justify-content: flex-end;
}
.chip {
    color: black;
    background-color: #FFCA65;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    position: relative;
    top: 21px;
    right: 34px;
    
}