.popup {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    z-index: 999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    padding: 5px;
    border-radius: 10px;
    
}

.hidden {
    visibility: hidden;
}